server/hiped
server/build
server/build-debug
server/build-hiped-Desktop-Debug
server/*.o
server/moc_*.cpp
server/Makefile
server/src/hiped.pro.user
server/src/hiped.pro.user.*
api/build/*.o
api/build/*.a
api/test/calc
api/test/calc.c~
api/test/clock
api/test/jpegviewer
api/test/quadrant
api/test/canvas
*.swp
README
